#ToCreatePoke {
  position: fixed;
  top: 10vh;
  right: 0px;
  width: 16vw;
}

#PokeName {
  position: fixed;
  top: 3vh;
  right: 0px;
  width: 16vw;
  text-align: center;
}

#principal {
}

.App {
  text-align: center;
}

html {
}

#principalCommands {
}

body {
  margin: 0;
  font-family: "Bad Script", cursive;
  font-family: "Gochi Hand", cursive;
  color: #e9e6e6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;

  align-items: center;
  flex-direction: column-reverse;
  font-size: larger;
}

* {
  cursor: url(https://i.imgur.com/CpdoEln.png), auto;
  font-size: 20px;

  /* border: 1px solid rgb(21, 255, 0) */
}

button {
  font-family: "Bad Script", cursive;
  font-family: "Gochi Hand", cursive;
  color: #201d1d;
  border-radius: 7px;
  font-size: larger;
  background-color: rgb(200, 209, 188);
  transition: background-color 300ms;
  box-shadow: 0 0 0.2vmax 0.01vmax;
}
button:hover {
  background-color: rgb(255, 255, 255);
  transition: background-color 500ms;
}

select {
  font-family: "Bad Script", cursive;
  font-family: "Gochi Hand", cursive;
  color: #201d1d;
  border-radius: 10px;
  font-size: larger;
  box-shadow: 0 0 0.2vmax 0.01vmax;
}

input {
  font-family: "Bad Script", cursive;
  font-family: "Gochi Hand", cursive;
  color: #201d1d;
  border-radius: 7px;
  font-size: larger;
  box-shadow: 0 0 0.2vmax 0.01vmax;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
