body {
  margin: 0;
  /* border: 1px solid rgb(0, 0, 0) */
 
}

#root{

display: flex;
flex-direction: column;
text-align: center;

/* border: 1px solid rgb(0, 0, 0) */


}

html {
  background: -webkit-linear-gradient(130deg, #2d3b66, #63d326);
  background: -moz-linear-gradient(130deg, #2d3b66, #63d326);
  background: -ms-linear-gradient(130deg, #2d3b66, #63d326);
  background: -o-linear-gradient(130deg, #2d3b66, #63d326);
  background: linear-gradient(130deg, #2d3b66, #63d326);


  min-height:100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* border: 1px solid rgb(0, 0, 0) */

  

}

/* width */
::-webkit-scrollbar {
  width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(31, 29, 29);
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(51, 73, 53);
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgb(31, 29, 29);

}

/*
https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp
For webkit browsers, you can use the following pseudo elements to customize the browser's scrollbar:

::-webkit-scrollbar the scrollbar.
::-webkit-scrollbar-button the buttons on the scrollbar (arrows pointing upwards and downwards).
::-webkit-scrollbar-thumb the draggable scrolling handle.
::-webkit-scrollbar-track the track (progress bar) of the scrollbar.
::-webkit-scrollbar-track-piece the track (progress bar) NOT covered by the handle.
::-webkit-scrollbar-corner the bottom corner of the scrollbar, where both horizontal and vertical scrollbars meet.
::-webkit-resizer the draggable resizing handle that appears at the bottom corner of some elements. */
code {

}
