
code {
}

input {
  outline: none;
}
.require {
  border: 2px solid red;
}

.butonError {
  color: red;
  font-size: 10px;
}

p.danger {
  color: red;
  font-size: 10px;
}
input.danger {
  border: 2px solid red;
}
