#pokeName {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 4.5vh;
  justify-content: center;
}

#pokeName input {
  width: 98%;
  padding: 0;
  margin: 0;
}
